html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Barlow', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

a {
  color: magenta;
  text-decoration: none;
}

h4 {
  font-weight: 500;
}

main {
  padding: .8rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

.mainContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 20px;
  max-width: 900px;
}

.column1 {
  flex: 35%;
}

.column2 {
  flex: 65%;
  padding-left: 40px;
}

.column2 p {
  line-height: 1.8rem;
}

.column2 h4:not(:first-child) {
  margin-top: 2rem;
}

ul {
  padding: 0px 0px 0px 20px;
}

li {
  padding-bottom: .8em;
}

.author {
  margin-top: 0px;
}

.intro {
  margin-top: 0px;
  max-width: 900px;
  line-height: 1.8rem;
  padding: 20px;
}

@media (max-width: 768px) {
  .row {
    display: block;
  }
  .column2 {
    padding-left: 0px;
  }
}
